<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Gaiaparents</title>

<!-- Bootstrap core CSS -->
<link href="static/css/bootstrap.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="static/css/main.css" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple" rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<link href="static/css/animate-custom.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<script src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/modernizr.custom.js"></script>
<script src="https://kit.fontawesome.com/9597617eb6.js" crossorigin="anonymous"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#home">Gaiaparents</a> </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="#home"     > Home</a></li>
          <li> <a href="#about"    > About</a></li>
          <li> <a href="#services" > Services</a></li>
          <li> <a href="#gaptips"  > Gaptips</a></li>
          <li> <a href="/bot"  >GapBot</a></li>
          <li> <a href="#team"     > Team</a></li>
          <li> <a href="#contact"  > Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
  <header class="clearfix">
    <a href="#gaptips" class="btn btn-lg">See Our Works</a> </header>
</div>
<!-- /headerwrap --> 

<!-- ==== ABOUT ==== -->
<div id="about" name="about">
  <div class="container">
    <div class="row white">
      <div class="col-md-6"> <img class="img-responsive" src="static\img\about\pict.about.jpg"> </div>
      <div class="col-md-6">
        <h3>About us</h3>
        <p>Gaiaparents merupakan website yang di design untuk orangtua dalam memberikan pola asuh kepada balita yang berusia mulai dari satu tahun sampai dengan lima tahun. Melalui website ini orangtua diharapkan dapat terbantu dengan jawaban-jawaban serta respon yang diberikan oleh gaiaparents dalam mengasuh anak usia balita.</p>
        <h3>Why choose us?</h3>
        <p>Website Gaiaparents di design untuk memudahkan para orangtua dalam mengasuh balita melalui fitur Gapbot yang telah disediakan oleh Gaiaparents. Dari fitur tersebut orangtua bebas bertanya apapun mengenai balita dan akan mendapatkan jawaban serta respon yang baik.</p>
      </div>
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 

<!-- ==== SERVICES ==== -->
<div id="services" name="services">
  <div class="container">
    <div class="row">
      <h2 class="centered">Services</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2">
        <p class="large">Berikut layanan yang dapat kami berikan dalam website Gaiaparents</p>
      </div>
      <div class="col-lg-3 callout"> <img src="static\img\services\chatbot (1).png" alt="" style="width: 80px;">
        <h3>GapBot</h3>
        <p>GapBot merupakan chatbot yang disediakan oleh website Gaiaparents untuk orangtua berdiskusi mengenai balita</p>
      </div>
      <div class="col-lg-3 callout"> <img src="static\img\services\tips.png" alt="" style="width: 80px;">
        <h3>GapTips</h3>
        <p>GapTips merukapan tips and trick yang disediakan website Gaiaparents untuk memberikan pengetahuan baru kepada orang tua cara merawat anak balita demi memantau kembang anak.</p>
      </div>
      <div class="col-lg-3 callout"> <img src="static\img\services\feedback.png" alt="" style="width: 80px;">
        <h3>GapRan</h3>
        <p>GapRan merupakan tempat orangtua memberiakan kritik dan saran untuk website Gaiaparents.</p>
      </div>
      <div class="col-lg-3 callout"> <img src="static\img\services\communicate.png" alt="" style="width: 80px;">
        <h3>GapTact</h3>
        <p>GapTact merupakan kontak yang diberikan oleh team kami agar orangtua dapat menghubungi kami secara langsung jika terdapat masalah pada website Gaiaparent.</p>
      </div>
                
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 

<!-- ==== GAPTIPS ==== -->
<div id="gaptips" name="gaptips">
  <div class="container">
    <div class="row">
      <h2 class="centered">GapTips</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2 centered">
        <p class="large">GapTips merupakan tips and trick yang disediakan website Gaiaparents untuk memberikan pengetahuan baru kepada orang tua cara merawat anak balita demi memantau kembang anak.</p>
      </div>
    </div>
    <!-- /row -->
    <div class="container">
      <div class="row"> 
        
        <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. -->

        <!-- MODAL 1 -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">EDUSERIES</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\gaptips\eduseries.jpeg" alt=""></p>
                <p>Educseries merupakan referensi yang disediakan Gaiaparents untuk orang tua dalam mengembangakan pengetahuan mengenai anak usia dini agar perkembangan anak berjalan dengan optimal yang dapat menguntungkan anak di masa yang akan datang.</p>
                <p><b><a href="https://www.youtube.com/watch?v=V7GPiX6fvNU&list=PLjlpJxBDx7WCg2wLBxKI6kFUXcwDm01xV">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
        <!-- /.modal --> 
        
        <!-- MODAL 2 -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">PERKEMBANGAN BALITA</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\gaptips\perkembangan balita.jpeg" alt=""></p>
                <p>Memahami tumbuh kembang anak sangat penting bagi orang tua sebagai bagian dari pola pengasuhan orang tua. Seiring dengan dengan pertumbuahan dan perkembangan anak orang tua perlu memastikan anak tumbuh dan berkembang secara optimal. Berikut ini merupakan referensi panduan untuk tahap pertumbuhan serta perkembangan pada balita. Bagi orang tua, memantau perkembangan anak sangat penting. Memasuki usia balita, si kecil tentu sudah bisa melakukan banyak hal. Orang tua juga harus tahu apakah perkembangan sang buah hati sudah sesuai dengan usianya atau belum. Agar tahu perkembangan balita dari waktu ke waktu, baca semua referensi informasinya di sini.</p>
                <p><b><a href="https://www.youtube.com/watch?v=BbmO0-o3NQM&list=PLjlpJxBDx7WC1ppFsXQZKLboK0BPslnQO">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
        <!-- /.modal --> 

        <!-- MODAL 3 -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">GIZI BALITA</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\gaptips\gizi balita.jpeg" alt=""></p>
                <p>Memenuhi kebutuhan gizi anak tidak hanya ketika ia mulai MPASI, tetapi ketika sudah masuk usia balita. orang tua perlu mencari agar anak tetap mau makan dengan gizi dan nutrisi yang baik. Berikut ini merupakan referensi panduan kebutuhan gizi untuk balita. </p>
                <p><b><a href="https://www.youtube.com/watch?v=PlsG3xpGhes&list=PLjlpJxBDx7WDsBiALGexXEt5CiJglDbeX">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->
          
        <!-- MODAL 4 -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">GAYA PENGASUHAN</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\gaptips\gaya pengasuhan.jpeg" alt=""></p>
                <p>Gaya pengasuhan merupakan macam-macam gaya yang dapat diterapkan oleh orangtua dalam mengasuh balita. Disini kami juga menjelaskan gaya pengasuhan seperti apa yang paling tepat untuk mengasuh tumbuh kembang balita.</p>
                <p><b><a href="https://www.youtube.com/playlist?list=PLjlpJxBDx7WC3ZFMamrk1mVGgJqjkRxUI">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->
          
        <!-- MODAL 5 -->
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">FAMILY</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\gaptips\family.jpeg" alt=""></p>
                <p>Keluarga sangatlah pentik karena keluarga memberikan rasa cinta kasih dan dukungan. Anggota keluarga saling mengajari satu sama lain,saling melayani serta berbagi kebahagiaan dan kesedihan. Berikut ini merupakan referensi panduan tips and tricks untuk keluarga. </p>
                <p><b><a href="https://www.youtube.com/watch?v=yLMbY4B_gtI&list=PLjlpJxBDx7WA66FbRzbiiROzpUsim5waM">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->

        <!-- MODAL 6 -->
        <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">SEPUTAR BALITA</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\gaptips\seputar balita.jpeg" alt=""></p>
                <p>Balita merupakan masa saat otak anak mengalami pertumbuhan yang sangat pesat yang dikenal dengan istilah the golden age. Balita berada pada rentang usia nol sampai lima tahun. Berikut ini merupakan referensi panduan tips and tricks seputar balita. </p>
                <p><b><a href="https://www.youtube.com/playlist?list=PLjlpJxBDx7WDoJMxLoVDiy9u4v1QDAAvc">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->

       <!-- PORTFOLIO IMAGE 1 -->
       <div class="col-md-4 ">
        <div class="grid mask">
          <figure> <img class="img-responsive" src="static\img\gaptips\eduseries.jpeg" alt="">
            <figcaption>
              <h5>EDUCSERIES</h5>
              <a data-toggle="modal" href="#myModal1" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
          </figure>
          <!-- /figure --> 
        </div>
        <!-- /grid-mask --> 
      </div>

        <!-- PORTFOLIO IMAGE 2 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\gaptips\perkembangan balita.jpeg" alt="">
              <figcaption>
                <h5>PERKEMBANGAN BALITA</h5>
                <a data-toggle="modal" href="#myModal2" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 3 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\gaptips\gizi balita.jpeg" alt="">
              <figcaption>
                <h5>GIZI BALITA</h5>
                <a data-toggle="modal" href="#myModal3" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
      </div>
      <!-- /row --> 
      
      <!-- PORTFOLIO IMAGE 4 -->
      <div class="row">
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\gaptips\gaya pengasuhan.jpeg" alt="">
              <figcaption>
                <h5>GAYA PENGASUHAN</h5>
                <a data-toggle="modal" href="#myModal4" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 5 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\gaptips\family.jpeg" alt="">
              <figcaption>
                <h5>FAMILY</h5>
                <a data-toggle="modal" href="#myModal5" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 6 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\gaptips\seputar balita.jpeg" alt="">
              <figcaption>
                <h5>SEPUTAR BALITA</h5>
                <a data-toggle="modal" href="#myModal6" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        <!-- /col --> 
      </div>
      <!-- /row --> 
        </div>
        <!-- /col --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /row --> 
  </div>
</div>
<!-- /container --> 

<!-- ==== TEAM MEMBERS ==== -->
<div id="team" name="team">
  <div class="container">
    <div class="row centered">
      <h2 class="centered">Meet Our Team</h2>
      <hr>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="static\img\team\adhitya_1.jpg" height="150px" width="150px" alt="">
        <h4>Adhitya Dimas Aji Pratama</h4>
        <p>Back End Developer</p>
        <a href="https://twitter.com/adhitya_dms?t=Ujg4rhbWuaedQlBXdY7G1Q&s=08"><i class="fa fa-twitter"></i></a> <a href="https://www.instagram.com/adhitya_dms/"><i class="fa fa-instagram"></i></a> <a href="https://www.linkedin.com/in/adhitya-dimas-aji-pratama-155281240/"><i class="fa fa-linkedin"></i></a> </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="static\img\team\amel_1.jpg" height="150px" width="150px" alt="">
        <h4>Amelia Kristina Simarmata</h4>
        <p>Editor Dataset</p>
        <a href="https://twitter.com/Amelkrss?t=3QsH-vuFuVXHP79gsScbiw&s=08"><i class="fa fa-twitter"></i></a> <a href="https://instagram.com/amelkrs?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a> <a href="https://www.linkedin.com/in/amelia-kristina-simarmata-4b363a207"><i class="fa fa-linkedin"></i></a> </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="static\img\team\cintya_1.jpg" height="150px" width="150px" alt="">
        <h4>Cintya Romauli Samosir</h4>
        <p>Copywritting</p>
        <a href="https://twitter.com/tiarsmr_"><i class="fa fa-twitter"></i></a> <a href="https://instagram.com/pot_cs?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a> <a href="https://www.linkedin.com/in/cintya-romauli-samosir-806110201"><i class="fa fa-linkedin"></i></a> </div>
        <div class="col-lg-3 centered"> <img class="img img-circle" src="static\img\team\venaar_1.jpg" height="150px" width="150px" alt="">
        <h4>Vena Anistiani Rohmah</h4>
        <p>Front End Developer</p>
        <a href="https://twitter.com/Venaanstn_?t=gGH_2Fv_4onDYd_EUPzFmg&s=08"><i class="fa fa-twitter"></i></a> <a href="https://instagram.com/venaanstn?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a> <a href="https://www.linkedin.com/in/vena-anistiani-rohmah-6007191a1"><i class="fa fa-linkedin"></i></a> </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="static\img\team\fauzan_1.jpg" height="150px" width="150px" alt="">
        <h4>Fauzan Firdaus</h4>
        <p>Content Creator</p>
        <a href="#"><i class="fa fa-twitter"></i></a> <a href="https://instagram.com/uzandausz?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>
        <div class="col-lg-8 col-lg-offset-2 centered">
        <p class="large">Website Gaiaparents ini dibuat berdasarkan tim untuk menyelesaikan projek akhir kami di Orbit Future Academy. Kami berasal dari universitas yang berbeda dan dipertemukan dalam Studi Independen Kampus Merdeka. Untuk mengenal kami lebih lanjut, silahkan kunjungi media sosial kami untuk tanya-tanya lebih detail mengenai website Gaiaparents.</p>
      </div>
    </div>
  </div>
  <!-- row --> 
</div>
<!-- container --> 

<!-- ==== CONTACT ==== -->
<div id="contact" name="contact">
  <div class="container">
    <div class="row">
      <h2 class="centered">Contact Us</h2>
      <hr>
      <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x"></i>
        <p>Jakarta</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>gaiaparents@outlook.co.id</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p>0852-6259-3469</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <p>Terima kasih sudah berkunjung di website kami. Silahkan memberi saran dan kritik yang membangun melalui kontak yang tertera diatas agar kami dapat mengembangkan website Gaiaparents lebih baik lagi.</p>
        <form id="contact" method="post" class="form" role="form">
          <div class="row">
        <!-- form --> 
      </div>
    </div>
    <!-- row --> 
    
  </div>
</div>
<!-- container -->

<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> <span class="copyright">© 2022 <a href="index.html" rel="rev-logo">Gaiaparents</a> All Rights Reserved</span> </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript" src="static/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="static/js/retina.js"></script> 
<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="static/js/smoothscroll.js"></script> 
<script type="text/javascript" src="static/js/jquery-func.js"></script>
</body>
</html>
